:root {
  --brand-color: #2196F3;
  --defoult-color: #212121;
  --white-color:#FFFFFF;
  --littlewhite-color:#F5F4FA ;
  --gray-color: #757575;
  --footer-color:rgba(255, 255, 255, 0.6);
  --hero-color:#2F303A;
  --filtres-color:#E5E5E5;
  --svg-color: #AFB1B8;
  --hero-bgcolor: rgba(47, 48, 58, 0.4);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: var(--defoult-color);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  margin-left: 0;
  padding-left: 0;
}

nav {
  display: flex;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-color);
}

.logo_footer {
  text-align: center;
}

.logo2 {
  font-weight: 700;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.16;
  color: var(--white-color);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.li-footer {
  margin-top: 20px;
  margin-bottom: 8px;
}

.contacts2 {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contacts3 {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}

.footer-svg {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-svg {
    margin-top: 7px;
    margin-left: 60px;
  }
}

.h2-footer {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.social-network2 {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .social-network2 {
    margin-bottom: 0px;
  }
}

.instagram-link2 {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.instagram-link2:hover, .instagram-link2:focus {
  background-color: var(--brand-color);
}

.instagram-svg2 {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.twitter-link2 {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.twitter-link2:hover, .twitter-link2:focus {
  background-color: var(--brand-color);
}

.twitter-svg2 {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.facebook-link2 {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.facebook-link2:hover, .facebook-link2:focus {
  background-color: var(--brand-color);
}

.facebook-svg2 {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.linkedin-link2 {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.linkedin-link2:hover, .linkedin-link2:focus {
  background-color: var(--brand-color);
}

.linkedin-svg2 {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.footer-modal-text {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-form {
  text-align: center;
}

.footer-modal-email {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.footer-button {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.send-footer-svg {
  fill: var(--white-color);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .ul-footer2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__item {
    width: calc(100% / 2 - 30px);
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-modal {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */