:root {
  --brand-color: #2196F3;
  --defoult-color: #212121;
  --white-color:#FFFFFF;
  --littlewhite-color:#F5F4FA ;
  --gray-color: #757575;
  --footer-color:rgba(255, 255, 255, 0.6);
  --hero-color:#2F303A;
  --filtres-color:#E5E5E5;
  --svg-color: #AFB1B8;
  --hero-bgcolor: rgba(47, 48, 58, 0.4);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  color: var(--defoult-color);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  margin: 0px;
  margin-left: 0;
  padding-left: 0;
}

nav {
  display: flex;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-header {
    display: flex;
  }
}

.header {
  color: var(--white-color);
  border-bottom: 1px solid #ECECEC;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translatex(100%);
  z-index: 999;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu.is-open {
  transform: translatex(0);
}

.logo-menu {
  display: block;
  font-weight: 700;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.16;
  color: var(--defoult-color);
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-burger {
  margin-left: auto;
  background-color: transparent;
  border: 0px;
  padding: 0px;
}

.svg-burger {
  width: 24px;
  height: 16px;
}

.menu-header {
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu-header {
    display: none;
  }
}

.menu_close-svg {
  width: 18.67px;
  height: 18.67px;
}

.menu {
  background-color: var(--white-color);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
  transition: transform 250ms ease;
}

.menu_close-btn {
  position: absolute;
  background-color: transparent;
  border: 0px;
  top: 10px;
  right: 15px;
  padding-top: 11px;
  padding-left: 11px;
  padding-right: 10.33px;
  padding-bottom: 10.33px;
}

.menu_item {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: var(--defoult-color);
  letter-spacing: 0.02em;
}

.menu-list_link {
  color: var(--defoult-color);
}

.menu_list {
  margin-bottom: -32px;
  margin-bottom: 302px;
}

.menu-contact_link1 {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: var(--brand-color);
  letter-spacing: 0.02em;
}

.menu-contact_link2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}

.menu-contact_item {
  margin-bottom: 32px;
}

.menu-contact_list {
  margin-bottom: -32px;
}

.menu-social_list {
  margin-top: 64px;
  display: flex;
}

.menu-social_item {
  margin-right: 10px;
}

.menu_instagram-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu_twitter-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu_facebook-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu_linkidin-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.menu_link-acctive {
  color: var(--brand-color);
}

.logo {
  padding-top: 26px;
  padding-bottom: 26px;
  padding-right: 1098;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo {
  font-weight: 700;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.16;
  color: var(--defoult-color);
  letter-spacing: 0.03em;
  margin-right: 88px;
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-web {
  color: var(--brand-color);
}

.ul-header {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: -50px;
}

.header_item1 {
  margin-right: 50px;
}

.ref-acctive {
  position: relative;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.ref-acctive:after {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
  top: 46px;
}

.portfolio-ref-acctive {
  position: relative;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.portfolio-ref-acctive:after {
  content: "";
  display: block;
  position: absolute;
  width: 78px;
  height: 4px;
  background-color: var(--brand-color);
  border-radius: 2px;
  top: 46px;
}

.ref {
  color: var(--defoult-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.ref:hover, .ref:focus {
  color: var(--brand-color);
}

.ul-header2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 84px;
}

@media screen and (min-width: 1200px) {
  .ul-header2 {
    margin-left: 305px;
    flex-wrap: nowrap;
    margin-top: 32px;
  }
}

.contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.contacts:hover, .contacts:focus {
  color: var(--brand-color);
}

.contacts:hover .phone-svg, .contacts:focus .phone-svg {
  fill: var(--brand-color);
}

.contacts:hover .mail-svg, .contacts:focus .mail-svg {
  fill: var(--brand-color);
}

.link-header2 {
  margin-top: 21px;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .link-header2 {
    margin-top: 0px;
  }
}

.link-header3 {
  display: flex;
}

.mail-svg {
  width: 14px;
  height: 10px;
}

.mail-svg {
  fill: var(--gray-color);
  margin-right: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.link-header2 {
  display: block;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .link-header2 {
    margin-right: 30px;
  }
}

.link-header3 {
  display: block;
  height: 14px;
}

.phone-svg {
  fill: var(--gray-color);
  width: 10px;
  height: 14px;
  margin-right: 8px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.hero {
  background-color: var(--hero-color);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.headline2 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .headline2 {
    font-size: 44px;
    line-height: 1.36;
  }
}

.knob2 {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--brand-color);
  color: var(--white-color);
  letter-spacing: 0.06em;
  font-family: Roboto;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.knob2:hover, .knob2:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  width: 100%;
  height: 100%;
  position: relative;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  display: table-cell;
  vertical-align: middle;
}

.visually-hidden {
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  background-color: white;
  border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.knob-backdrop {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: pointer;
}

.knob-backdrop:hover .backdrop-svg {
  fill: var(--brand-color);
}

.backdrop-svg {
  fill: var(--defoult-color);
  width: 11px;
  height: 11px;
  transition: fill 250ms ease;
}

.text-backdrop {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--defoult-color);
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  margin-top: 12px;
  width: 25px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray-color);
}

.input-wrap {
  display: block;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms ease;
}

.modal-input:focus {
  border-color: var(--brand-color);
}

.modal-input:focus + .modal-svg-profile {
  fill: var(--brand-color);
}

.modal-input:focus + .modal-svg-tel {
  fill: var(--brand-color);
}

.modal-input:focus + .modal-svg-email {
  fill: var(--brand-color);
}

.modal-input:focus .modal-label {
  color: var(--brand-color);
}

.modal-svg-profile {
  fill: var(--defoult-color);
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms ease;
}

.modal-label-tel {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  width: 50px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray-color);
}

.modal-svg-tel {
  fill: var(--defoult-color);
  position: absolute;
  width: 13px;
  height: 13px;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms ease;
}

.modal-label-email {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  width: 35px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray-color);
}

.modal-svg-email {
  fill: var(--defoult-color);
  position: absolute;
  width: 15px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transition: fill 250ms ease;
}

.modal-label-comment {
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  width: 80px;
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--gray-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition: border-color 250ms ease;
}

.modal-text:focus {
  border-color: var(--brand-color);
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  font-size: 12px;
  line-height: 1.16px;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .check-text {
    height: 24px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease;
}

.input-check:checked + .check-text span {
  background-color: var(--brand-color);
  border: none;
}

.modal-svg-comment {
  fill: var(--white-color);
  width: 11px;
  height: 8px;
  top: 50%;
  left: 50%;
}

.check-link {
  color: var(--brand-color);
  text-decoration: underline;
}

.form-button-div {
  margin-left: 85px;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .form-button-div {
    margin-left: 124px;
  }
}

.form-button {
  width: 200px;
  height: 50px;
  background-color: var(--brand-color);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
}

.antenna-svg {
  width: 70px;
  height: 70px;
}

.clock-svg {
  width: 70px;
  height: 70px;
}

.diagram-svg {
  width: 70px;
  height: 70px;
}

.astronaut-svg {
  width: 70px;
  height: 70px;
}

.peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ul-peculiarities {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .ul-peculiarities {
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .ul-peculiarities {
    flex-wrap: nowrap;
  }
}

.feature__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

.div-peculiarities {
  background-color: var(--littlewhite-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
}

.headline5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .headline5 {
    text-align: start;
  }
}

.paragraph2 {
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}

.gallery {
  padding-top: 0px;
  padding-bottom: 0px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .gallery {
    display: block;
    padding-top: 46px;
    padding-bottom: 94px;
  }
}

.gallery__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.gallery__list {
  display: flex;
}

.gallery__text {
  padding-top: 27px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.gallery__item {
  margin-right: 30px;
  position: relative;
}

.gallery__item:last-child {
  margin-right: 0px;
}

.gallery__block {
  position: absolute;
  width: 370px;
  height: 70px;
  text-align: center;
  top: 224px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-card {
  background-color: var(--littlewhite-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-card {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-card__h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .team-card__h2 {
    font-size: 36px;
    line-height: 1.16;
  }
}

.ul-team-card {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .ul-team-card {
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .ul-team-card {
    margin-top: 50px;
    flex-wrap: nowrap;
  }
}

.team-card__item {
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-card__item {
    margin-left: 30px;
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team-card__item {
    width: calc(100% / 2 - 30px);
  }
}

.div-team-card {
  padding-top: 30px;
  text-align: center;
  padding-bottom: 24px;
}

.headline4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.paragraph3 {
  font-size: 16px;
  line-height: 1.18;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}

.social-network {
  display: flex;
  justify-content: center;
}

.instagram-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.instagram-link:hover, .instagram-link:focus {
  background-color: var(--brand-color);
}

.instagram-link:hover .instagram-svg, .instagram-link:focus .instagram-svg {
  fill: var(--white-color);
}

.instagram-svg {
  fill: var(--svg-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.twitter-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.twitter-link:hover, .twitter-link:focus {
  background-color: var(--brand-color);
}

.twitter-link:hover .twitter-svg, .twitter-link:focus .twitter-svg {
  fill: var(--white-color);
}

.twitter-svg {
  fill: var(--svg-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.facebook-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.facebook-link:hover, .facebook-link:focus {
  background-color: var(--brand-color);
}

.facebook-link:hover .facebook-svg, .facebook-link:focus .facebook-svg {
  fill: var(--white-color);
}

.facebook-svg {
  fill: var(--svg-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.linkedin-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.linkedin-link:hover, .linkedin-link:focus {
  background-color: var(--brand-color);
}

.linkedin-link:hover .linkedin-svg, .linkedin-link:focus .linkedin-svg {
  fill: var(--white-color);
}

.linkedin-svg {
  fill: var(--svg-color);
  width: 20px;
  height: 20px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients-list__item {
  margin-left: 30px;
  width: calc(100% / 2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 100%;
  }
}

.clients-list__link {
  width: 100%;
  height: 92px;
  margin-top: 30px;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--brand-color);
}

.clients-list__link:hover .clients-list__svg, .clients-list__link:focus .clients-list__svg {
  fill: var(--brand-color);
}

.clients-list__link:hover .clients-list__svg1, .clients-list__link:focus .clients-list__svg1 {
  fill: var(--brand-color);
}

.clients-list__link:hover .clients-list__svg2, .clients-list__link:focus .clients-list__svg2 {
  fill: var(--brand-color);
}

.clients-list__link:hover .clients-list__svg3, .clients-list__link:focus .clients-list__svg3 {
  fill: var(--brand-color);
}

.clients-list__link:hover .clients-list__svg4, .clients-list__link:focus .clients-list__svg4 {
  fill: var(--brand-color);
}

.clients-list__link:hover .clients-list__svg5, .clients-list__link:focus .clients-list__svg5 {
  fill: var(--brand-color);
}

.clients-list__svg {
  fill: var(--svg-color);
  width: 44.27px;
  height: 49.23px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

@media screen and (min-width: 1200px) {
  .clients-list__svg {
    width: 41px;
    height: 46.7px;
  }
}

.clients-list__svg1 {
  fill: var(--svg-color);
  width: 40px;
  height: 52px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.clients-list__svg2 {
  fill: var(--svg-color);
  width: 41px;
  height: 42.6px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

@media screen and (min-width: 1200px) {
  .clients-list__svg2 {
    width: 43.46px;
    height: 41.18px;
  }
}

.clients-list__svg3 {
  fill: var(--svg-color);
  width: 79.66px;
  height: 42.02px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

@media screen and (min-width: 1200px) {
  .clients-list__svg3 {
    width: 84.44px;
    height: 40.62px;
  }
}

.clients-list__svg4 {
  fill: var(--svg-color);
  width: 59px;
  height: 47px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

@media screen and (min-width: 1200px) {
  .clients-list__svg4 {
    width: 62.54px;
    height: 45.43px;
  }
}

.clients-list__svg5 {
  fill: var(--svg-color);
  width: 88.48px;
  height: 45.44px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

@media screen and (min-width: 1200px) {
  .clients-list__svg5 {
    width: 93.79px;
    height: 43.93px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-color);
}

.logo_footer {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .logo_footer {
    text-align: start;
  }
}

.logo2 {
  font-weight: 700;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.16;
  color: var(--white-color);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.li-footer {
  margin-top: 20px;
  margin-bottom: 8px;
}

.contacts2 {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .contacts2 {
    width: 231px;
  }
}

.contacts3 {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--footer-color);
}

@media screen and (min-width: 1200px) {
  .contacts3 {
    width: 231px;
  }
}

.footer-svg {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-svg {
    margin-top: 7px;
    margin-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-svg {
    text-align: start;
    margin-left: 0px;
  }
}

.h2-footer {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.social-network2 {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .social-network2 {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .social-network2 {
    justify-content: start;
  }
}

.instagram-link2 {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.instagram-link2:hover, .instagram-link2:focus {
  background-color: var(--brand-color);
}

.instagram-svg2 {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.twitter-link2 {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.twitter-link2:hover, .twitter-link2:focus {
  background-color: var(--brand-color);
}

.twitter-svg2 {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.facebook-link2 {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.facebook-link2:hover, .facebook-link2:focus {
  background-color: var(--brand-color);
}

.facebook-svg2 {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.linkedin-link2 {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.linkedin-link2:hover, .linkedin-link2:focus {
  background-color: var(--brand-color);
}

.linkedin-svg2 {
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}

.footer-modal-text {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .footer-modal-text {
    text-align: start;
    margin-left: 30px;
    margin-top: 6px;
  }
}

.footer-form {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer-modal-div {
    display: flex;
    margin-left: 30px;
  }
}

.footer-modal-email {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .footer-modal-email {
    width: 358px;
  }
}

.footer-button {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .footer-button {
    margin: 0;
    margin-left: 12px;
  }
}

.send-footer-svg {
  fill: var(--white-color);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .ul-footer2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -60px;
  }
}

@media screen and (min-width: 1200px) {
  .ul-footer2 {
    flex-wrap: nowrap;
    margin-bottom: -60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__item {
    width: calc(100% / 2 - 30px);
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-modal {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
  }
}

.filtres {
  background-color: var(--white-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.ul-knob {
  display: flex;
  margin-right: -8px;
  margin-bottom: 25px;
  width: 100%;
  flex-wrap: wrap;
  margin-right: -8px;
}

@media screen and (min-width: 768px) {
  .ul-knob {
    margin-bottom: 15px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .ul-knob {
    margin-bottom: 35px;
    justify-content: center;
  }
}

.knob {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--littlewhite-color);
  color: var(--defoult-color);
  letter-spacing: 0.03em;
  font-family: Roboto;
  margin-right: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.knob:hover, .knob:focus {
  background-color: var(--brand-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.ul-filtres {
  flex-wrap: wrap;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .ul-filtres {
    margin-left: -30px;
    justify-content: space-between;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .ul-filtres {
    justify-content: space-between;
  }
}

.filtres-li {
  width: 450px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .filtres-li {
    margin-left: 30px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .filtres-li {
    width: 370px;
  }
}

.filtres-li:hover .filtres-top-text, .filtres-li:focus .filtres-top-text {
  transform: translatex(0);
}

.shadow-filtres {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

.shadow-filtres:hover, .shadow-filtres:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filtres-link {
  color: var(--defoult-color);
}

.filtres-top-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.filtres-top-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;
  padding-top: 77px;
  padding-left: 24px;
  padding-bottom: 77px;
  padding-right: 24px;
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.headline1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  border-left: 1px solid var(--filtres-color);
  border-right: 1px solid var(--filtres-color);
}

.paragraph1 {
  color: var(--gray-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  background: var(--white-color);
  padding-left: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--filtres-color);
  border-left: 1px solid var(--filtres-color);
  border-right: 1px solid var(--filtres-color);
}

@media screen and (min-width: 768px) {
  .paragraph1 {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1200px) {
  .paragraph1 {
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */