.container-header {

  display: none;
  
  @media screen and (min-width: 768px) {
    display: flex;
}
}

// .ul-header2 {
//     margin-left: 305px;
// }

// .ref-acctive {
//     position: relative;
//     color: var(--brand-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
    
//     &:after{
//         content: "";
//         display: block;
//         position: absolute;
//         width: 48px;
//         height: 4px;
//         background-color: var(--brand-color);
//         border-radius: 2px;
//         top: 46px;
//         }
// }

// .ref {
//     color: var(--defoult-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
    
//     transition-property:color;
//   transition-duration: 250ms;
//   transition-timing-function: linear;
//   transition-delay: 0;

//     &:hover,
//     &:focus {
//         color: var(--brand-color);
//     }

// }

// .logo {
//     padding-top: 24px;
//     padding-bottom: 25px;
    
//     padding-right: 1098;
//     margin: 0;
//      }

// .logo {
//     font-weight: 700;
//     font-family: Raleway;
//     font-size: 26px;
//     line-height: 1.19;
//     color: var(--defoult-color); 
//     letter-spacing: 0.03em;
//     }

//     .logo-web {
//         color: var(--brand-color);
//     }

//     .link-header1 {
//         margin-top: 32px;
//         margin-bottom: 32px;
//         margin-left: 93px;
      
//     }

//     .link-header2 {
//         margin: auto;
//     }

//     .link-header3 {
//         margin: auto;
//         margin-left: 30px;
      
//     }

//     .link-header4 {
//         padding-top: 32px;
//         padding-bottom: 32px;
//         padding-left: 50px;
//     }

//     .link-header5 {
//         padding-top: 32px;
//         padding-bottom: 32px;
//         padding-left: 50px;
//     }

//     .link-header2 {
//         display: flex;
//     }

//     .header {
//         color: var(--white-color);
//         border-bottom:1px solid #ECECEC;;
        
//     }

//     .contacts { 
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         color: var(--gray-color);
//         transition-property:color;
//       transition-duration: 250ms;
//       transition-timing-function: linear;
//       transition-delay: 0;

//       &:hover,
//       &:focus {
//         color: var(--brand-color);
//         .phone-svg {
//             fill: var(--brand-color);
//         }
//         .mail-svg {
//             fill: var(--brand-color);
//         }
//     }
        

// }

//     .contacts2 {
//         font-size: 14px;
//         line-height: 1.71;
//         letter-spacing: 0.03em;
//         color: var(--white-color);
//         }

//         .contacts3 {
//             font-size: 14px;
//             line-height: 1.71;
//             letter-spacing: 0.03em;
//             color: var(--footer-color);
//             }


//             .mail-svg {
//                 width: 16px;
//                 height: 12px;    
//             }    
            
            
//             .mail-svg {
//                 fill: var(--gray-color);
//                 margin: auto;
//                margin-right: 10px;
//                transition-property:fill;
//               transition-duration: 250ms;
//               transition-timing-function: linear;
//               transition-delay: 0;
//             }

//             .phone-svg {
//                 fill: var(--gray-color);
//                 width: 10px;
//                 height: 16px;
//                 margin-right: 10px;
//                 transition-property:fill;
//               transition-duration: 250ms;
//               transition-timing-function: linear;
//               transition-delay: 0;
//             }
            
// .portfolio-ref-acctive {
//     position: relative;
//     color: var(--brand-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;

//     &:after {
//         content: "";
//         display: block;
//         position: absolute;
//         width: 78px;
//         height: 4px;
//         background-color: var(--brand-color);
//         border-radius: 2px;
//         top: 46px;
//      }
//  }

// MOBILE
    .header {
        color: var(--white-color);
        border-bottom:1px solid #ECECEC;;
        
    }
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translatex(100%);
    z-index: 999;
    @media screen and (min-width: 768px) {
        display: none;
    }
}



.menu.is-open {
    transform: translatex(0);
}

.logo-menu {
    display: block;
    font-weight: 700;
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.16;
    color: var(--defoult-color); 
    letter-spacing: 0.03em;
    padding-top: 16px;
    padding-bottom: 16px;
    
    }


.button-burger {
    // display: block;
    
    margin-left: auto;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    

    
}
    .svg-burger {
        width: 24px;
        height: 16px;
    }

    .menu-header {
        display: flex;
        @media screen and (min-width: 768px) {
            display: none;
        }
    }   

    .menu_close-svg {
        width: 18.67px;
        height: 18.67px;
    }

    .menu {
        background-color: var(--white-color);
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
        padding-right: 40px;

        transition: transform 250ms ease;
    }


    .menu_close-btn {
        position: absolute;
        background-color: transparent;
        border: 0px;
        top: 10px;
        right: 15px;
        padding-top: 11px;
        padding-left: 11px; 
        padding-right: 10.33px;
        padding-bottom: 10.33px;
    }

    .menu_item {
        margin-bottom: 32px;
        font-weight: 500;
font-size: 40px;
line-height: 1.17;
color: var(--defoult-color);
letter-spacing: 0.02em;

    }

    .menu-list_link {
        color: var(--defoult-color);
    }

    .menu_list {
        margin-bottom: -32px;
        margin-bottom: 302px;
    }

    .menu-contact_link1 {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.17;
       color: var(--brand-color);
        
        letter-spacing: 0.02em;
        
    }

    .menu-contact_link2 {
        font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: var(--gray-color);
    }

    .menu-contact_item {
        margin-bottom: 32px;
    }

    .menu-contact_list {
        margin-bottom: -32px;
    }

    .menu-social_list {
        margin-top: 64px;
        display: flex;
    }

.menu-social_item {
    margin-right: 10px;
    
}

.menu_instagram-link {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--brand-color);
}

.menu_twitter-link {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--brand-color);
}

.menu_facebook-link {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    font-weight: 500;
font-size: 18px;
line-height: 1.22;

letter-spacing: 0.02em;
color: var(--brand-color);
}

.menu_linkidin-link {
    font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: var(--brand-color);
}

.menu_link-acctive {
    color: var(--brand-color);
}
// desctop-table
.logo {
    padding-top: 26px;
    padding-bottom: 26px;
    
    padding-right: 1098;
    margin: 0;
    @media screen and (min-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
     }

.logo {
    font-weight: 700;
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.16;
    color: var(--defoult-color); 
    letter-spacing: 0.03em;
    margin-right: 88px;
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        font-size: 26px;
        line-height: 1.19;
    }
    }

    .logo-web {
        color: var(--brand-color);
    }

    .ul-header {
        padding-top: 32px;
        padding-bottom: 32px;
        margin-right: -50px;
    }

    .header_item1 {
        margin-right: 50px;
    }

    .ref-acctive {
    position: relative;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    
    
    &:after{
                content: "";
                display: block;
                position: absolute;
                width: 48px;
                height: 4px;
                background-color: var(--brand-color);
                border-radius: 2px;
                top: 46px;
                }
}

.portfolio-ref-acctive {
    position: relative;
    color: var(--brand-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 78px;
        height: 4px;
        background-color: var(--brand-color);
        border-radius: 2px;
        top: 46px;
     }
 }

.ref {
    color: var(--defoult-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    transition-property:color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;

    &:hover,
    &:focus {
        color: var(--brand-color);
    }

}

.ul-header2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 84px;
    @media screen and (min-width: 1200px) {
        margin-left: 305px;
        flex-wrap: nowrap;
        margin-top: 32px;
    }
}

    .contacts { 
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--gray-color);
        display: flex;
        transition-property:color;
      transition-duration: 250ms;
      transition-timing-function: linear;
      transition-delay: 0;

      &:hover,
      &:focus {
        color: var(--brand-color);
        .phone-svg {
            fill: var(--brand-color);
        }
        .mail-svg {
            fill: var(--brand-color);
        }
    }
        

}


.link-header2 {
    margin-top: 21px;
    display: flex;
    @media screen and (min-width: 1200px) {
        margin-top: 0px;
    }
}

.link-header3 {
    display: flex;
}

.mail-svg {
    width: 14px;
    height: 10px;    
}

.mail-svg {
    
    fill: var(--gray-color);
    margin-right: 8px;
    transition-property:fill;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: 0;
 }

 .link-header2 {
    display: block;
    height: 14px;
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
    }
}

     .link-header3 {
         
        display: block;
        height: 14px;
      
    }

    .phone-svg {
                        fill: var(--gray-color);
                        width: 10px;
                        height: 14px;
                        margin-right: 8px;
                        transition-property:fill;
                      transition-duration: 250ms;
                      transition-timing-function: linear;
                      transition-delay: 0;
                    }