.team-card {
    background-color: var(--littlewhite-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-card__h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.ul-team-card {
    display: flex;
}

.team-card-1 {
    margin-right: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-card-2 {
    margin-right: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-card-3 {
    margin-right: 30px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-card-4 {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.div-team-card {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.headline4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.paragraph3  {
    font-size: 16px;
    line-height: 1.17;
    color: var(--gray-color);
    letter-spacing: 0.03em;
}

.social-network {
    display: flex;
}

.instagram-link {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property:background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;

    &:hover,
    &:focus {
    background-color: var(--brand-color);

    .instagram-svg{
        fill: var(--white-color);
    }
    }
    
}

.instagram-svg {
    fill: var(--svg-color);
    width: 20px;
    height: 20px;

    transition-property:fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}



.twitter-link {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-top: 16px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property:background-color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: 0;

    &:hover,
    &:focus {
        background-color: var(--brand-color);
        .twitter-svg{
            fill: var(--white-color);
        }
    }

}

.twitter-svg {
    fill: var(--svg-color);
    width: 20px;
    height: 20px;

    transition-property:fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}



.facebook-link {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-top: 16px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property:background-color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: 0;

    &:hover,
    &:focus {
    
        background-color: var(--brand-color);
        .facebook-svg{
            fill: var(--white-color);
        }
    }

    
}

.facebook-svg {
    fill: var(--svg-color);
    width: 20px;
    height: 20px;

    transition-property:fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}


.linkedin-link {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property:background-color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-delay: 0;

    &:hover,
    &:focus {
        background-color: var(--brand-color);
        .linkedin-svg{
            fill: var(--white-color);
        }
    }

}

.linkedin-svg {
    fill: var(--svg-color);
    width: 20px;
    height: 20px;

    transition-property:fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
  transition-delay: 0;
}

