.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);;
    opacity: 1;
    visibility: visible;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* padding-top: 221px; */
    z-index: 1;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.knob-backdrop {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: pointer;

    &:hover {
        .backdrop-svg {
            fill: var(--brand-color);
        }
    }
}

.modal {
    position: absolute; 
    left: 50%; 
    margin-left: -264px; 
    top: 50%; 
    margin-top: -290.5px; 
    width: 528px; 
    height: 581px;
    background-color: white;
    border-radius: 4px;
    padding: 40px;
 }

 .visually-hidden {
    visibility: hidden;
}

.backdrop-svg {
    fill: var(--defoult-color);
    width: 11px;
    height: 11px;

    transition: fill 250ms ease;
}


.text-backdrop {
    position: absolute;
    top: 40px;
    left: 40px;
    
    width: 448px;
height: 23px;
font-weight: bold;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.03em;

color: var(--defoult-color);

}

.modal-label {
    display: block;
    margin-bottom: 4px;
    margin-top: 30px;
    width: 25px;
height: 14px;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: var(--gray-color);
}

.input-wrap {
    display: block;
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;
    outline: none;  
    
    transition: border-color 250ms ease;

    &:focus {
        border-color: var(--brand-color);
        + .modal-svg-profile{
            fill: var(--brand-color);
        }
        + .modal-svg-tel{
            fill: var(--brand-color);
        }
        + .modal-svg-email{
            fill: var(--brand-color);
        }
    }
}

.modal-svg-profile {
    fill: var(--defoult-color);
    position: absolute;
    width: 12px;
    height: 12px;
    
    top: 50%;
    transform: translateY(-50%);
    left: 15px;

    transition: fill 250ms ease;
}



.modal-label-tel {
    display: block;
    margin-bottom: 4px;
    margin-top: 10px;
    width: 50px;
height: 14px;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: var(--gray-color);
}

.modal-svg-tel {
    fill: var(--defoult-color);
    position: absolute;
    width: 13px;
    height: 13px;
    
    top: 50%;
    transform: translateY(-50%);
    left: 15px;

    transition: fill 250ms ease;
}

.modal-label-email {
    display: block;
    margin-bottom: 4px;
    margin-top: 10px;
    width: 35px;
height: 14px;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: var(--gray-color);
}

.modal-svg-email {
    fill: var(--defoult-color);
    position: absolute;
    width: 15px;
    height: 12px;
    
    top: 50%;
    transform: translateY(-50%);
    left: 15px;

    transition: fill 250ms ease;
}



.modal-label-comment {
    display: block;
    margin-bottom: 4px;
    margin-top: 10px;
    width: 80px;
height: 14px;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: var(--gray-color);
}

.modal-text {
    width: 100%;
    height: 120px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
    outline: none;
    resize: none;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    
    transition: border-color 250ms ease;

    &:focus {
        border-color: var(--brand-color);
        
    }
}

.check-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    color: var(--gray-color);

    letter-spacing: 0.03em;
}

.check-text {
    span {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease;
    }
}

.input-check{
    &:checked {
        + .check-text span{
            background-color: var(--brand-color);
            border: none;
        }
    }
}


.modal-svg-comment {
    fill: var(--white-color);
    
    width: 11px;
    height: 8px;
    top: 50%;
    left: 50%;
    
    
}

.check-link {
    color: var(--brand-color);
    text-decoration: underline;
}

.form-button-div {
    padding-left: 124px;
    margin-top: 30px;
}

.form-button {
    width: 200px;
    height: 50px;
    background-color: var(--brand-color);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: bold;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.06em;
color: var(--white-color);
cursor: pointer;
}